Product Requirements
AR Science
From Null
Brief problem statement
This should be a 1-2 paragraphs describing what the motivation is for the project.  What is the problem to be solved?
System requirements
What system configuration needs to run your proposed system (including anything third party that is needed to run your system).
Users profile
Who is the system intended for? What characteristics should the users have (this can also be a range of things such as reading level, etc.).
List of Features
Provide a numbered list of features (F1, F2, etc.) that concisely, clearly, and accurately describe that which constitutes your project.
Functional requirements (user stories)
List the Priority as 1 (High Priority - Critical) to 3 (Low Priority – Would be nice if we have time)
No.
	User Story Name
	Description
	Priority
	R1    
	Today view (sample)
	Select "today" and view today's appointments.  When the today button is pressed, the current day should be selected and the appts should show in the panel on the right with all the times laid out.
	 
	R2          
	Delete appointment (sample)
	Delete a specified appointment.  when selected an option in the file menu should be able to delete an existing appt, and also confirm that they are deleting the appt.
	 
	R3           
	 
	 
	 
	R4           
	 
	 
	 
	R5  
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
Non-Functional Requirements
Describe any constraints or cross-cutting characteristics of the system in a manner that is clear, specific, and testable.  Each requirement should have a unique identifier (e.g. NF1, NF2,..).  Only present those which are applicable to your system.  Categories include but are not limited to:
Security
Reliability
Usability
Cross-Platform Compatibility
Accuracy
 
Sponsor Requirements
I have read and approve the material in this document.  If there is no external sponsor, the TA or instructor will sign it for accuracy/scope.
 
______________________________        ___________________________________           _________
Print Name                                               Signature                                                              Date